.env
**/.ds_store
**/.ipynb_checkpoints
**/__pycache__/
**/.vscode/

*.mp4
*.mov

antispoofing_feedback.json

models/

# --- Virtual environments ---
.venv/
venv/

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.python-version

# --- VSCode ---
.vscode/
*.code-workspace

# --- Embeddings and secret files ---
*.pkl
*.key

# --- Data ---
data/

# --- Pictures ---
*.png
*.jpg
*.jpeg
